body{
    margin: 20px;
    color: #2b2839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.headshot{
    width: 150px;
}



.card {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 600px;
    margin: auto;
    text-align: center;
    background: #ddebf8;
    border-bottom: 6px solid #d8cefe;
}
